<div class="container">
	<h1>Angular Pipes</h1>
	<div class="card">
		<h2>App counter: {{appCounterService.counter}}</h2>
		<button class="btn" (click)="appCounterService.increment()">+</button>
		<button class="btn" (click)="appCounterService.decrement()">-</button>
	</div>
	<div class="card">
		<h2>Local counter: {{localCounterService.counter}}</h2>
		<button class="btn" (click)="localCounterService.increment()">+</button>
		<button class="btn" (click)="localCounterService.decrement()">-</button>
	</div>

	<hr>
	<app-counter></app-counter>
	<!--
	<p>Wait for it...{{p |async}}</p>
	<p>Date: {{date$ |async}}</p>
	
	<p>{{'Hello World ' |exMarks}}</p>

	<button class="btn" (click)="searchField = 'title'">Title</button>
	<button class="btn" (click)="searchField = 'text'">Title</button>
	<hr>
	<button class="btn" (click)="addPost()">Добавить пост</button>
	<input type="text" [(ngModel)]="search">
	<div class="card" *ngFor="let p of posts |filter:search:searchField">
		<h2>{{p.title}}</h2>
		<p>{{p.text}}</p>
	</div>
	
	<p>{{float}}</p>
	<p>{{float |currency}}</p>
	<p>{{float |percent:'2.1-1'}}</p>
	<pre>{{obj |json}}</pre>
	
	<p>{{date |date: 'MMMM dd, yyyy HH:mm:ss'}}</p>
	<p>{{e | number: '1.1-5'}}</p>
	<p>{{e | number: '3.1-2'}}</p>
	<p>{{e | number: '1.0-0'}}</p>
	<p>{{str |uppercase |titlecase}}</p>
	<p>{{str |titlecase |slice:1:-1}}</p>
-->
</div>